
<form nz-form [formGroup]="group" (ngSubmit)="submit()">

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
      <input nz-input formControlName="name"/>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc">说明</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="desc"/>
    </nz-form-control>
  </nz-form-item>

</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="ref.close()">取消</button>
  <button nz-button nzType="primary" (click)="submit()">提交</button>
</div>
