.layout{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.header{
  color: white;
  font-weight: bold;
  font-size: 1.2em;
  .logo{
    width: 32px;
    height: 32px;
  }
}
.footer{
  color: #888888;
}

.content{
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.app{
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  //align-content: center;
  padding: 20px;
  text-align: center;

  .icon{
    width: 60%;
    //display: block;
  }
  .name{
    text-align: center;
  }
}
