<nz-layout class="layout">
  <nz-header class="header">
    <img class="logo" [src]="oem.logo">
    {{oem.title}}
  </nz-header>
  <nz-content class="content">
    <nz-row [nzGutter]="[{ xs: 8, sm: 16, md: 24}, { xs: 8, sm: 16, md: 24}]">
      <nz-col class="app" (click)="open(app)"
        *ngFor="let app of apps"
        [nzXs]="8" [nzSm]="6" [nzMd]="4" [nzLg]="3">
        <img class="icon" [src]="app.icon || '/assets/app.png'" alt="app">
        <div class="name">
          <span class="inner">
            {{app.name}}
          </span>
        </div>
      </nz-col>
    </nz-row>

  </nz-content>
  <nz-footer class="footer">
    {{oem.company}} {{oem.copyright}}
  </nz-footer>
</nz-layout>
