<nz-layout style="height: 100%">
  <nz-sider nzTheme="light" nzBreakpoint="sm">
    <ul nz-menu nzTheme="light" nzMode="inline">
<!--      <li nz-menu-item [routerLink]="['/']">-->
<!--        <i nz-icon nzType="home"></i>-->
<!--        <span>返回桌面</span>-->
<!--      </li>-->
      <li nz-submenu nzTitle="物模型" nzIcon="database" nzOpen>
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/model/models']">
              <i nz-icon nzType="menu" nzTheme="outline"></i>
              <span>所有</span>
            </a>
          </li>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/model/create']">
              <i nz-icon nzType="edit" nzTheme="outline"></i>
              <span>创建</span>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
