<nz-card nzTitle="批量创建设备">
    <nz-spin [nzSpinning]="isSpinning">
        <form nz-form [formGroup]="group">
            <app-set-id #childTag></app-set-id>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="nameErrorTpl">
                    <input nz-input formControlName="name" />
                    <ng-template #nameErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">请输入名称!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc">说明</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                    <textarea nz-input formControlName="desc"></textarea>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="amount">创建数量</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
                    <nz-input-number formControlName="amount" [nzMin]="1"></nz-input-number>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>
    <div style="text-align: center;">
        <button nz-button nzType="primary" style="width:100px;" [nzLoading]="isSpinning" (click)="handleSubmit()">{{btnTitle}}</button>
    </div>
</nz-card>