<nz-layout style="height: 100%">
  <nz-sider nzTheme="light" nzBreakpoint="sm">
    <ul nz-menu nzTheme="light" nzMode="inline">
<!--      <li nz-menu-item [routerLink]="['/']">-->
<!--        <i nz-icon nzType="home"></i>-->
<!--        <span>返回桌面</span>-->
<!--      </li>-->
      <li nz-submenu nzTitle="系统设置" nzIcon="setting" nzOpen>
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/setting/web']">Web服务器</a>
          </li>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/setting/database']">数据库</a>
          </li>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/setting/log']">日志</a>
          </li>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/setting/backup']">备份</a>
          </li>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a [routerLink]="['/setting/reboot']">重启</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-content>
    <router-outlet></router-outlet>
  </nz-content>
</nz-layout>
