<ng-template #extra>
  <button nz-button (click)="handleCancel()" style="margin-right:10px;">
    取消
  </button>
  <button nz-button nzType="primary" (click)="submit()">
    <i nz-icon nzType="save" nzTheme="outline"></i>
    保存
  </button>
</ng-template>

<nz-card [nzTitle]="id ? '编辑产品' : '创建产品'" [nzExtra]="extra">

  <form nz-form [formGroup]="group" (ngSubmit)="submit()">

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="id">ID</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="id" placeholder="默认为随机生成" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="name" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="version">版本</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="version" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc">说明</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <textarea nz-input formControlName="desc"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-collapse>
      <!-- 属性start -->
      <ng-template #propertyEx>
        <button type="button" nz-button nzType="primary" (click)="propertyAdd($event)">
          <i type="button" nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzHeader="属性" [nzExtra]="propertyEx">
        <!-- <app-product-edit-properties #propertyChild [data]="allData"></app-product-edit-properties> -->
        <app-edit-table #propertyChild [data]="allData" [listData]="listData"></app-edit-table>
      </nz-collapse-panel>
      <!-- 属性end -->

      <ng-template #functionEx>
        <button type="button" nz-button nzType="primary">
          <i nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzDisabled nzHeader="功能" [nzExtra]="functionEx">
        暂不支持
      </nz-collapse-panel>

      <ng-template #eventEx>
        <button type="button" nz-button nzType="primary">
          <i nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzDisabled nzHeader="事件" [nzExtra]="eventEx">
        暂不支持
      </nz-collapse-panel>


      <ng-template #parameterEx>
        <button type="button" nz-button nzType="primary" (click)="parameterAdd($event)">
          <i type="button" nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzHeader="变量" [nzExtra]="parameterEx">

        <nz-table formArrayName="parameters">
          <tr>
            <th>名称（ID）</th>
            <th>显示</th>
            <th>最大值</th>
            <th>最小值</th>
            <th>默认值</th>
            <th></th>
          </tr>
          <tr *ngFor="let value of group.get('parameters').controls; let i=index;" [formGroupName]="i">
            <td>
              <input nz-input formControlName="name" />
            </td>
            <td>
              <input nz-input formControlName="label" />
            </td>
            <td>
              <nz-input-number formControlName="max"></nz-input-number>
            </td>
            <td>
              <nz-input-number formControlName="min"></nz-input-number>
            </td>
            <td>
              <nz-input-number formControlName="default"></nz-input-number>
            </td>
            <td>
              <span nz-icon nzType="delete" nzTheme="outline" (click)="parameterDel(i)"></span>
            </td>
          </tr>
        </nz-table>

      </nz-collapse-panel>


      <ng-template #constraintEx>
        <button type="button" nz-button nzType="primary" (click)="constraintAdd($event)">
          <i type="button" nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzHeader="约束" [nzExtra]="constraintEx">

        <span nz-typography nzType="warning">表达式计算不成立时，产生报警信息</span>
        <nz-table formArrayName="constraints">
          <tr>
            <th>等级</th>
            <th>标题</th>
            <th>模板</th>
            <th>表达式</th>
            <th>延迟s</th>
            <th>再次提醒s</th>
            <th>总提醒次数</th>
          </tr>
          <tr *ngFor="let value of group.get('constraints').controls; let i=index;" [formGroupName]="i">
            <td>
              <nz-input-number formControlName="level"></nz-input-number>
            </td>
            <td>
              <input nz-input formControlName="title" />
            </td>
            <td>
              <input nz-input formControlName="template" />
            </td>
            <td>
              <input nz-input formControlName="expression" />
            </td>
            <td>
              <nz-input-number formControlName="delay"></nz-input-number>
            </td>
            <td>
              <nz-input-number formControlName="again"></nz-input-number>
            </td>
            <td>
              <nz-input-number formControlName="total"></nz-input-number>
            </td>
            <td>
              <span nz-icon nzType="delete" nzTheme="outline" (click)="constraintDel(i)"></span>
            </td>
          </tr>
        </nz-table>

      </nz-collapse-panel>

    </nz-collapse>

  </form>

</nz-card>