<ng-template #extra>

  <button nz-button nzType="primary" (click)="submit()">
    <i nz-icon nzType="save" nzTheme="outline"></i>
    保存
  </button>
</ng-template>

<nz-card [nzTitle]="id ? '编辑产品' : '创建产品'" [nzExtra]="extra">

  <form nz-form [formGroup]="group" (ngSubmit)="submit()">

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="id">ID</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="id" placeholder="默认为随机生成"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">名称</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="name"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="version">版本</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <input nz-input formControlName="version"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="desc">说明</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="">
        <textarea nz-input formControlName="desc"></textarea>
      </nz-form-control>
    </nz-form-item>

    <nz-collapse>
      <ng-template #propertyEx>
        <button type="button" nz-button nzType="primary" (click)="propertyAdd($event)">
          <i type="button" nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzHeader="属性" [nzActive]="true" [nzExtra]="propertyEx">

        <nz-table formArrayName="properties">
          <tr>
            <th>名称（ID）</th>
            <th>显示</th>
            <th>类型</th>
            <th>单位</th>
            <th>模式</th>
          </tr>
          <tr *ngFor="let value of group.get('properties').controls; let i=index;" [formGroupName]="i">
            <td>
              <input nz-input formControlName="name">
            </td>
            <td>
              <input nz-input formControlName="label">
            </td>
            <td>
              <nz-select formControlName="type">
                <nz-option nzValue="int" nzLabel="整数"></nz-option>
                <nz-option nzValue="float" nzLabel="浮点数"></nz-option>
                <nz-option nzValue="text" nzLabel="文本"></nz-option>
              </nz-select>
            </td>
            <td>
              <input nz-input formControlName="unit">
            </td>
            <td>
              <nz-select formControlName="mode">
                <nz-option nzValue="r" nzLabel="读"></nz-option>
                <nz-option nzValue="w" nzLabel="写"></nz-option>
                <nz-option nzValue="rw" nzLabel="读写"></nz-option>
              </nz-select>
            </td>
            <td>
              <span nz-icon nzType="delete" nzTheme="outline" (click)="propertyDel(i)"></span>
            </td>
          </tr>
        </nz-table>

      </nz-collapse-panel>

      <ng-template #functionEx>
        <button type="button" nz-button nzType="primary">
          <i nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzHeader="功能" [nzActive]="true" [nzExtra]="functionEx">

      </nz-collapse-panel>

      <ng-template #eventEx>
        <button type="button" nz-button nzType="primary">
          <i nz-icon nzType="plus"></i>
          添加
        </button>
      </ng-template>
      <nz-collapse-panel nzHeader="事件" [nzActive]="true" [nzExtra]="eventEx">

      </nz-collapse-panel>
    </nz-collapse>

  </form>

</nz-card>
