
<nz-row>
  <nz-col nzSpan="6">

    <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
      <input type="text" nz-input placeholder="ID，名称" />
    </nz-input-group>
    <ng-template #suffixButton>
      <button nz-button nzType="primary" nzSize="large" nzSearch>搜索</button>
    </ng-template>
  </nz-col>
  <nz-col nzSpan="6">

  </nz-col>
  <nz-col nzSpan="6">

  </nz-col>
  <nz-col nzSpan="6">
    <button nz-button nzType="primary" (click)="create()"><span nz-icon nzType="plus"></span>添加</button>

  </nz-col>
</nz-row>




<nz-table #basicTable [nzData]="devices">
  <thead>
  <tr>
    <th>ID</th>
    <th>名称</th>
    <th>日期</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.created | date}}</td>
    <td>
      <a>编辑</a>
      <nz-divider nzType="vertical"></nz-divider>
      <a>删除</a>
    </td>
  </tr>
  </tbody>
</nz-table>
