<app-toolbar>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" (click)="reload()">
      <i nz-icon nzType="reload" [nzSpin]="loading"></i>
      刷新
    </button>
    <app-search-box *nzSpaceItem (onSearch)="search($event)"></app-search-box>
    <ng-template [ngIf]="showAddBtn">
      <button *nzSpaceItem nz-button nzType="primary" (click)="handleNew()">
        <i nz-icon nzType="plus"></i>
        创建设备
      </button>
    </ng-template>
    <button nz-button nzType="primary" *nzSpaceItem class="btn">
      <span nz-icon nzType="cloud-download" nzTheme="outline"></span>
      <a (click)="handleExport()" download="filename" [href]="href"
        >导出</a
      >
    </button>
    <!-- <div *nzSpaceItem> 
      <form action="/api/device/import" method="post" enctype="multipart/form-data">
        <input type="file" class="form-control-file" id="csv" name="csv">
        <button type="submit" class="btn btn-primary">提交</button>
  </form>
  </div> -->

    <div *nzSpaceItem style="position: relative">
      <button *ngIf="uploading" nz-button nzType="primary" nzLoading>
        <span nz-icon nzType="poweroff"></span>
        文件上传中
      </button>
      <label *ngIf="!uploading" for="file" style="position: absolute">
        <div class="fileButton">
          <span nz-icon nzType="cloud-upload" nzTheme="outline"></span>
          导入
        </div>
      </label>
      <input
        *ngIf="!uploading"
        type="file"
        id="file" 
        style="margin-top: 3px; width: 76px"
        (change)="handleImport($event)"
      />
    </div>
    <button
      *nzSpaceItem
      nz-button
      nzType="primary"
      nzDanger
      (click)="handleBatchDel()"
    >
      批量删除
    </button>
  </nz-space>
</app-toolbar>

<nz-table
  #basicTable
  [nzData]="datum"
  [nzShowPagination]="false"
  [nzLoading]="loading"
  [nzScroll]="getTableHeight()"
  (nzQueryParams)="onQuery($event)"
>
  <thead>
    <tr>
      <th
        [nzChecked]="checked"
        [nzIndeterminate]="indeterminate"
        (nzCheckedChange)="handleAllChecked($event)"
      ></th>
      <th nzColumnKey="id" [nzSortFn]="true">ID</th>
      <th nzColumnKey="product_id">产品ID</th>
      <th nzColumnKey="type_id">类型ID</th>
      <th nzColumnKey="group_id">分组ID</th>
      <th nzColumnKey="name" [nzSortFn]="true">名称</th>
      <th nzColumnKey="desc">说明</th>
      <th nzColumnKey="disabled">状态</th>
      <th nzColumnKey="created" [nzSortFn]="true">日期</th>
       
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let data of basicTable.data; let i = index"
      (dblclick)="open(data.id)"
    >
      <td
        [nzChecked]="setOfCheckedId.has(data.id)"
        (nzCheckedChange)="handleItemChecked(data.id, $event)"
      ></td>
      <td>{{ data.id }}</td>
      <td>{{ data.product_id }}</td>
      <td>{{ data.type_id }}</td>
      <td>{{ data.group_id }}</td>
      <td>{{ data.name }}</td>
      <td>{{ data.desc }}</td>
      <td >
        <nz-tag nzColor="success" *ngIf="data.disabled">
         启用
        </nz-tag>
        <nz-tag nzColor="error" *ngIf="!data.disabled">
          禁用
        </nz-tag>
        </td>
      <td>{{ data.created | date }}</td>
       
      <td *ngIf="!ref">
        <a (click)="open(data.id)" title="详情">
          <i nz-icon nzType="eye"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a (click)="edit(data.id)">
          <i nz-icon nzType="edit"></i>
        </a>
        <nz-divider nzType="vertical"></nz-divider>
        <a
          nz-popconfirm
          nzPopconfirmTitle="确定删除?"
          (nzOnConfirm)="delete(data.id)"
          (nzOnCancel)="cancel()"
          nzPopconfirmPlacement="topLeft"
        >
          <i nz-icon nzType="delete"></i>
        </a>
      </td>
      <td *ngIf="ref">
        <a (click)="select(data.id)"> 选择 </a>
      </td>
    </tr>
  </tbody>
</nz-table>

<app-custom-pagination
  [pageIndex]="pageIndex"
  [pageSize]="pageSize"
  [total]="total"
  (pageIndexChange)="pageIndexChange($event)"
  (pageSizeChange)="pageSizeChange($event)"
></app-custom-pagination>
