<app-toolbar>
  <nz-space>
    <button *nzSpaceItem nz-button nzType="primary" nzSize="large" (click)="reload()">
      <i nz-icon nzType="reload" [nzSpin]="loading"></i>
      刷新
    </button>
    <app-search-box *nzSpaceItem (onSearch)="search($event)"></app-search-box>
    <button *nzSpaceItem nz-button nzSize="large" disabled>
      <i nz-icon nzType="menu"></i>
      批量创建
    </button>
  </nz-space>
</app-toolbar>

<nz-table #basicTable
          [nzData]="datum"
          [nzFrontPagination]="false"
          [nzLoading]="loading"
          [nzTotal]="total"
          [nzPageSize]="pageSize"
          [nzPageIndex]="pageIndex"
          (nzQueryParams)="onQuery($event)"
>
  <thead>
  <tr>
    <th nzColumnKey="id" [nzSortFn]="true">ClientID</th>
    <th nzColumnKey="name" [nzSortFn]="true">名称</th>
    <th nzColumnKey="desc">说明</th>
    <th nzColumnKey="username">用户名</th>
    <th nzColumnKey="password">密码</th>
    <th nzColumnKey="created" [nzSortFn]="true">日期</th>
    <th>操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of basicTable.data; let i = index">
    <td>{{data.id}}</td>
    <td>{{data.name}}</td>
    <td>{{data.desc}}</td>
    <td>{{data.username}}</td>
    <td>{{data.password}}</td>
    <td>{{data.created | date}}</td>
    <td>
      <a [routerLink]="'/server/gateway/edit/'+data.id">
        <i nz-icon nzType="edit"></i>
      </a>
      <nz-divider nzType="vertical"></nz-divider>
      <a (click)="delete(i, data.id)">
        <i nz-icon nzType="delete"></i>
      </a>
    </td>
  </tr>
  </tbody>
</nz-table>
